body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #fbf3ed;
  }

  section {
    margin-bottom: 30px;
  }

  h2 {
    color: #e3a272;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
  }

  .about-me-image {
    float: right;
    margin-left: 20px;
    border-radius: 20%;
  }

  .about-me-info {
    font-size: 1.2em;
  }

  .education {
    border: 4px solid #ddd;
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 15px;
  }

  .tech-skills {
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    margin: 0; 
    padding: 0;
    border: 4px solid #ddd;
    padding: 10px;
  }

  .tech-skills p {
    width: 50%; 
    margin: 5px 0;
  }

  .project {
    border: 4px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }

  .project-content {
    width: 70%;
    font-size: 1.2em;
  }

  .project-image {
    border-radius: 20%;
    width: 25%;
    height: 40%;
    float: right;
    margin-left: 20px;
    margin-top: -60px;
  }

  .project-image2 {
    border-radius: 20%;
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 20px;
    margin-top: -60px;
  }

  .project h3 {
    color: #a4581f;
  }

  .experience {
    font-size: 1.2em;
    border: 4px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }